<div class="geral">
  <div class="formulario">
    <form [formGroup]="form">
      <app-input label="E-mail" [control]="form.controls['email']" />
      <app-input
        label="Senha"
        type="password"
        [control]="form.controls['senha']"
      />

      <app-button
        label="Entrar"
        [loading]="login.loading"
        icon="login"
        (onClick)="entrar()"
      ></app-button>
    </form>
    <div class="bottom">
      <a href="/novaconta" mat-button>
        <mat-icon>add</mat-icon>
        Nova conta</a
      >
    </div>
  </div>
</div>
