<div class="geral">
  <div class="formulario">
    <form [formGroup]="form">
      <app-input label="Nome" />
      <app-input label="E-mail" />
      <app-input label="Senha" type="password" />
      <app-input label="Conf. Senha" />
      <app-button
        expanded="false"
        [loading]="login.loading"
        icon="check"
        label="Cadastrar"
        (onClick)="cadastrar()"
      />
    </form>
    <div class="bottom">
      <a href="/novaconta" mat-button>
        <mat-icon>add</mat-icon>
        Nova conta
      </a>
    </div>
  </div>
</div>
